<div class="container">
  <% if @cocktail.photo.attached? %> 
    <%= cl_image_tag(@cocktail.photo.key, width: 400, height: 300, crop: :fill) %>
  <% else %>
    <img src="https://placekitten.com/g/300/200" alt="">
  <% end %>
  <h1><%= @cocktail.name %></h1>
  <%= link_to "+ Ingredient", new_cocktail_dose_path(@cocktail) %>
  <h2>Ingredients: </h2>
  <ul>
    <% @doses.each do |dose| %>
    <li><%= dose.ingredient.name %> - <%= dose.description %> <%= link_to "(delete)", dose_path(dose), method: :delete, data: {confirm: "Are you sure?"}  %></li>
    <% end %>
  </ul>
</div>

